*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    /* background-color: #9b0d0d; */
    height: 30px;
   margin: 10px;

}
nav span img{
height: 35px;
}
nav span{
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 25px;
  color: #012136;
}
nav button{
    cursor: pointer;
    padding:5px;
    background-color:#012136;
    color: white;
    border-radius: 12px;
}
.picture img{
position: relative;
  width: 1532px;
  height: 700px;
  opacity: 0.6 ;
}
