*{
    margin: 0;
    padding: 0;
}
.main{
background-image: url(logos/HC_Blog-6.jpg);
 background-position: center center;
position: relative;
background-repeat: no-repeat;
height: 100vh;
 background-size: max(1200px, 100vw);
 align-content: center;
}
.box{
    border: 2px solid black;
    height: 70%;
  background-color: white;
    width: 400px;        /* Must specify a width */
  margin-left: auto; /* Centers horizontally */
  margin-right: auto;
  text-align: center;
  border-radius: 15px;
}